@using Microsoft.AspNetCore.Identity
@using Admin_Portal.Models

@inject UserManager<ApplicationUser> UserManager

@model IEnumerable<Admin_Portal.Models.ApplicationUser>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Employees Index</h2>
@if (User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Register">Register New Employee Login</a>
    </p>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    <text>Employee Name</text>
                </th>
                <th>
                    <text>Email Address</text>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.EName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Links" asp-route-id="@item.Id">Links</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    <text>Employee Name</text>
                </th>
                <th>
                    <text>Email Address</text>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.EName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        <a asp-action="Links" asp-route-id="@item.Id">Links</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

